.destination {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 6rem;
    padding: 0 7rem;
}

.destination__box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    grid-row-gap: 3rem;
}

.destination__card {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0.4rem 2.4rem 6rem rgba(109, 141, 173, .1);
    padding: 3rem 2.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-gap: 2rem;
    cursor: pointer;
    border: 1.5px solid transparent;
    transition: .2s ease;
}

.destination__card:hover {
    transform: translateY(-10px);
    border: 1.5px solid var(--color-primary);
}

.destination__card .destination__card-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 2rem;
    font-weight: 700;
    align-items: center;
}

.destination__card .destination__card-title img {
    width: 2rem;
    height: 2rem;
}

.destination__card h2 {
    font-size: 1.6rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 4px;
}

.destination__card h2 img {
    width: 2rem;
    height: 2rem;
}
.destination__card div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.2rem;
    font-weight: 400;
}

.overlay {
    position: fixed;
    inset: 0 0 0 0;
    background-color: rgba(0,0,0,.8);
    backdrop-filter: blur(2px);
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: .2s ease;
}

.overlayPopUp {
    opacity: 1;
    visibility: visible;
}